<div class="chat self">
    <img src="pexels-photo-270637.jpeg" class="thumb">
    <div class="dialogbox">
            <div class="body">
              <span class="self-tip tip-left"></span>
              <div class="message">
                <span>I just made a comment about this comment box which is purely made from CSS.</span>
              </div>
            </div>
          </div>
    </div>
    <div class="chat friend">
            <img src="pexels-photo-270637.jpeg" class="thumb">
            <div class="dialogbox">
                    <div class="body">
                      <span class="friend-tip tip-right"></span>
                      <div class="message">
                        <span>I just made a comment about this comment box which is purely made from CSS.</span>
                      </div>
                    </div>
                  </div>
            </div>